@media (max-width: 1500px) {
	.featured__stories {
		padding: 80px 60px;
	}

}

@media (max-width: 1200px) {
 .become__title {
	max-width: 75%;
 }
 .become__text {
	padding-left: 20px;
	padding-bottom: 30px;
 }
 .featured__stories {
	width: 45%;
 }

 .slider-container .swiper-slide {
	width: 700px;
	min-height: 500px;
 }

 .newsletter-content {
	--newsletter-gap: 30px;
 }

 .subscribe-form {
	width: 400px;
	height: 350px;
 }

 .newsletter__form {
	bottom: -31px;
 }

 .first__slider-btn {
	width: 10px;
	height: 10px;
 }


 .main-slider__text {
	font-size: 10px;
 }



}

@media (max-width: 992px) {
	.become__item {
		width: 39%;
		margin-right: 20%;
	}

	.become__item:nth-child(2n) {
		margin-right: 0;
	}

	.slider-container .swiper-slide {
		width: 550px;
		min-height: 400px;
	 }
}

@media (max-width: 768px) {
	.first__title {
		max-width: 80%;
	}
	.first__descr {
		max-width: 70%;
	}
}

@media (max-width: 768px) and (max-height: 770px) {
	.first {
		min-height: 770px;
	}

	
}


@media (max-width: 576px) {

}
@media (max-width: 375px) {

}




@media (max-height: 1079px) {
	.first__container{
		padding: 130px 80px;
	}
	.first__title {
		font-size: 64px;
		line-height: 80px;
		max-width: 50%;
		margin-bottom: 50px;
	}
	.first__descr {
		font-size: 15px;
		margin-bottom: 50px;
	}
}

@media (max-height: 880px) {
	.first__container{
		padding: 130px 80px;
	}
	.first__link {
		margin-bottom: 50px;
	}
	.first__title {
		font-size: 55px;
		line-height: 70px;
		max-width: 40%;
		margin-bottom: 30px;
	}

}

@media (max-height: 780px) {
	.search-form {
		height: 80px;
	}
	.main-slider__text {
		height: 80px;
	}
	.first__title {
		margin-bottom: 30px;
	}
	.first__descr {
		font-size: 12px;
		margin-bottom: 30px;
	}
	.first__btn {
		padding: 25px 40px;
	}
}


