.first {
	height: 100vh;
	min-height: 640px;
	background-image: url('../../img/first-bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--white-color);

}

.first__container {
	padding-top: 223px;
	padding-bottom: 200px;
	position: relative;
	height: 100%;
}

.first__link {
	background-color: rgb(28, 46, 61, 0.4);;
	font-size: 11px;
	font-weight: 800;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 15px 30px;
	border-radius: 100px;
	display: inline-block;
	margin-bottom: 40px;
}

.first__title {
	font-weight: 700;
	font-size: 80px;
	line-height: 84px;
	max-width: 40%;
	margin-bottom: 40px;
}

.first__descr {
	font-family: 'SFCompact', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	max-width: 32%;
	margin-bottom: 59px;
}

.first__btn {
	color: var(--white-color);
	background-color: var(--red-color);
	padding: 33px 82px 33px 80px;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 8px;
	position: relative;
	z-index: 5;
	transition: background-color 0.3s;
}

.first__btn:hover {
	background-color: var(--red-color-hover);
	transition: background-color 0.3s;
}

.first__bottom {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: calc(100% - 60px);
	display: flex;
	align-items: flex-end;
}



.search-form {
flex-shrink: 0;
width: 68%;
position: relative;
overflow: hidden;
border-top-left-radius: 4px;
height: 120px;
}

.search-form__field {
	border: none;
	background-color: #fff;
	width: 100%;
	height: 100%;
	color: var(--dark-color);
	padding-left: 55px;
	padding-right: 90px;
}

.search-form__button {
	width: 18px;
	height: 18px;
	background-image: url('../../img/search.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 62px;
	top: 50%;
	transform: translateY(-50%);
}



.main-slider {
	overflow: hidden;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 0;
}

.main-slider__text {
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--blue-color);

	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2.18182px;
	color: var(--white-color);

}


.first__slider-btn {
	position: absolute;
	left: 72%;
	bottom: 10.5%;
	width: 14px;
	height: 14px;
	z-index: 50;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.btn-right {
	left: 95%;
	right: 70px;
	background-image: url('../../img/arrow-right.svg');
}

.btn-left {
	background-image: url('../../img/arrow-left.svg');
}

/* .main-slider__media {
	max-height: 272px;
} это если картинка вместо видео */

.main-slider__play {
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	width: 32px;
	height: 41px;
	background-image: url('../../img/playSlider.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 70;
}





