.slider-container {
	overflow-x: hidden;
	width: 100%;
	padding: 100px 0;
	margin-top: 50px;
}

.featured-videos {
	padding-top: 105px;
	padding-bottom: 50px;
}

.featured-videos__descr {
	text-align: center;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 96px;
	max-width: 634px;
	font-size: 16px;
	line-height: 24px;
	color: #788692;
}



.slide-1 {
	background-image: url("../../img/slider1.jpg");
}
.slide-2 {
	background-image: url("../../img/slider2.jpg");
}
.slide-3 {
	background-image: url("../../img/slider3.jpg");
}
.slide-4 {
	background-image: url("../../img/slider4.jpg");
}


.slider-container .swiper-slide {
	position: relative;
	/* background: #E3E3E3; */
	border-radius: 8px;
	min-height: 550px;
	max-width: 890px;
	transition: transform 0.3s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 40px;
	padding-bottom: 40px;
	overflow: hidden;
}




.slider-container .swiper-slide::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
	opacity: 0;
	transition: opasity 0.3s;
}

.swiper-slide-active .slider-title {
	transition: transform 0.3s;
	transform: translateY(0);
}

.slider-container .swiper-slide-active {
	transform: scaleX(1.16) scaleY(1.2);
	transition: transform 0.3s;

}


.slider-container .swiper-slide-active::after {
	opacity: 1;
	transition: opasity 0.3s;
}


.slider-title {
	position: relative;
	z-index: 7;
	font-size: 32px;
	color: var(--white-color);
	transition: transform 0.3s;
	transform: translateY(200px);
}





.slide-play {
	position: absolute;
	left: 48px;
	top: 40px;
	width: 112px;
	height: 112px;
	background-image: url("../../img/Video-play.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.swiper-slide video {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;

}



